{% load static %}
{# LocalGov Base theme CSS - mirrors localgov_base.libraries.yml load order #}
<link rel="stylesheet" href="{% static 'localgov_base/css/base/variables.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/base/base.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/layout/layout-utilities.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/base/fields.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/form-items.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/messages.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/skip-link.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/layout/grid.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/header.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/footer.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/callout.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/secondary-menu.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/wysiwyg-styles.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/breadcrumbs.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/menu-main.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/alert-banner.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/banner.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/service-landing-page.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/service-statuses.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/step-by-step.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/guide-nav.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/news.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/events.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/directories.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/facets.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/sitewide-search.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/box-links.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/teaser.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/card.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/components/back-to-top.css' %}">
<link rel="stylesheet" href="{% static 'localgov_base/css/print/print.css' %}" media="print">
