{% extends "base.html" %}
{% block title %}{{ entry.title }}{% endblock %}
{% block content %}
<div class="lgd-container padding-horizontal">
  <h1>{{ entry.title }}</h1>
  <div>{{ entry.body|linebreaks }}</div>
  {% if entry.address %}<p><strong>Address:</strong> {{ entry.address|linebreaksbr }}</p>{% endif %}
  {% if entry.phone %}<p><strong>Phone:</strong> {{ entry.phone }}</p>{% endif %}
  {% if entry.email %}<p><strong>Email:</strong> <a href="mailto:{{ entry.email }}">{{ entry.email }}</a></p>{% endif %}
  {% if entry.website %}<p><a href="{{ entry.website }}">Visit website</a></p>{% endif %}
</div>
{% endblock %}
